<a href="https://colab.research.google.com/github/vaibhatt/ACM-Mentor-assignments/blob/master/week3/movie_recommendations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from scipy.sparse import csr_matrix

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
!wget http://files.grouplens.org/datasets/movielens/ml-latest.zip
!unzip ml-latest.zip

--2020-07-31 08:03:28--  http://files.grouplens.org/datasets/movielens/ml-latest.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 277113433 (264M) [application/zip]
Saving to: ‘ml-latest.zip’

ml-latest.zip       100%[===================>] 264.28M  26.2MB/s    in 11s

2020-07-31 08:03:40 (24.5 MB/s) - ‘ml-latest.zip’ saved [277113433/277113433]

Archive:  ml-latest.zip
   creating: ml-latest/
  inflating: ml-latest/links.csv
  inflating: ml-latest/tags.csv
  inflating: ml-latest/genome-tags.csv
  inflating: ml-latest/ratings.csv
  inflating: ml-latest/README.txt
  inflating: ml-latest/genome-scores.csv
  inflating: ml-latest/movies.csv

In [9]:
ratings_df = pd.read_csv("/content/ml-latest/ratings.csv")
movies_df = pd.read_csv("/content/ml-latest/movies.csv")

In [11]:
def process_df(movies_df,ratings_df,thresh = 10000):
  df = movies_df.merge(ratings_df,on="movieId")
  df = df.merge(pd.DataFrame(df.groupby('title')["rating"].mean()).rename(columns = {"rating":"mean_rating"}),on = "title")
  df = df.merge(pd.DataFrame(df.groupby("title")["userId"].count()).rename(columns = {"userId":"rate_count"}),on = "title")
  df_ratesorted = df[df.rate_count > thresh]
  return df_ratesorted

In [12]:
df = process_df(movies_df,ratings_df)
df

          movieId              title  ... mean_rating  rate_count
0               1   Toy Story (1995)  ...    3.886649       68469
1               1   Toy Story (1995)  ...    3.886649       68469
2               1   Toy Story (1995)  ...    3.886649       68469
3               1   Toy Story (1995)  ...    3.886649       68469
4               1   Toy Story (1995)  ...    3.886649       68469
...           ...                ...  ...         ...         ...
27254378   134853  Inside Out (2015)  ...    3.960429       13659
27254379   134853  Inside Out (2015)  ...    3.960429       13659
27254380   134853  Inside Out (2015)  ...    3.960429       13659
27254381   134853  Inside Out (2015)  ...    3.960429       13659
27254382   134853  Inside Out (2015)  ...    3.960429       13659

[14399683 rows x 8 columns]